.hidden {
  display: none;
}


.post-body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px 12px;
}

#postDetails {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
}

.post {
  text-align: left;
}

.post-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.author-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar-container {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0,0,0,1); 
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px;
}

.avatar-img {
  width: 80px;
  height: auto;
  object-position: -10px 0px;
}

.author-name-container {
  display: flex;
  flex-direction: column;
}

.author-name-container p {
  margin: 0;
}

.author-name-container span {
  font-size: 14px;
  color: gray;
}

.tags {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.tag {
  background-color: #e0e0e0;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

button#editButton {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.post-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.post-body {
  font-size: 16px;
  line-height: 1.6;
}
